<?xml version="1.0" encoding="utf-8"?>
<config>
  <meta-desc>Ceci est ma page de développeur. Enfin ce qu'il en reste ...</meta-desc>
  <meta-author>C'est moi !!</meta-author>
  <meta-icon>img/favicon.ico</meta-icon>

  <meta-title>Le super site de Corentin</meta-title>
  <meta-conf-bootstrap>dist/css/bootstrap.min.css</meta-conf-bootstrap>
  <meta-conf-css>blog.css</meta-conf-css>

  <nav-home href="../index.php">Accueil</nav-home>

  <nav-items>
    <item href="../index.php?page=liens">À propos</item>
  </nav-items>

  <title>Le super site de Corentin</title>
  <subtitle>Un petit blog maison pour mes petits projets</subtitle>
  
  <about line="Qu'est-ce à dire que ceci ?">
    Je m'appelle Corentin et je suis développeur à Grenoble.
    <br/><br/>
    À l'avenir, j'aimerais rassembler sur ce blog toutes les infos sur mes projets perso en informatique. 
  </about>

  <links line="Les autres endroits">
    <item href="http://shaarli.marciau.fr/">Mon shaarly</item>
    <item href="http://shaarli.flibidi.net/">Le shaarly d'Aurélien</item>
    <item href="http://shaarli.tatapouftataput.net/">Le shaarly de Fred</item>
  </links>

  <footer>
    <philosophy>
      Ce blog n'est pas un blog sur le cyclimsme. Bootstrap,
      c'est cool : <a href="http://getbootstrap.com">Boot me !</a>
      <br/>Je dédie ce site à Jeanne
    </philosophy>
    <backtotop>Back to top</backtotop>
  </footer>
</config>
